/* ========== STYLING ========== */

body {
    background-color: rgb(225, 225, 225);
    margin: 0px;
    font-family: 'Trebuchet MS';
}

#heading1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 30px 0px;
    color: rgb(225, 225, 225);
    background-color: rgb(45, 45, 45);
    text-align: center;
    font-size: 80px;
    cursor: default;
}

#count-el {
    margin: 0px 0px;
    padding-top: 30px;
    padding-bottom: 15px;
    color: rgb(45, 45, 45);
    text-align: center;
    font-size: 120px;
    font-weight: bolder;
    cursor: default;
}

.cont1 {
    display: flex;
    justify-content: center;
}

#incrementCont {
    padding-top: 15px;
    padding-bottom: 7.5px;
}

#incrementBtn {
    width: 230px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    background-color: darkred;
    font-size: 17px;
    font-weight: bold;
    border: 0px transparent;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

#incrementBtn:hover {
    font-size: 23px;
    width: 250px;
    height: 50px;
    color: white;
    background-color: rgb(190, 0, 0);
    box-shadow: 0px 0px 15px rgb(45, 45, 45);
}

#saveCont {
    padding-top: 7.5px;
    padding-bottom: 30px;
}

#saveBtn {
    width: 230px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: darkgreen;
    font-size: 17px;
    font-weight: bold;
    border: 0px transparent;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

#saveBtn:hover {
    font-size: 23px;
    width: 250px;
    height: 50px;
    color: white;
    background-color: rgb(0, 190, 0);
    box-shadow: 0px 0px 15px rgb(45, 45, 45);
}

#save-el{
    margin: 15px 10px 15px 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    cursor: default;
}

#sum-el{
    margin: 15px 10px 15px 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    cursor: default;
}